@import "~bulma";


.site-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.fill-height {
  flex: 1;
}

.content {
  overflow-wrap: break-word;
}

.card, .not-card {
  min-width: 300px;
  max-width: 500px;
}

.card.last-revealed {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1), 0 0 10px rgba(200, 160, 10, .4);
}

.card.not-revealed {
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
  opacity: .8;

  .reverse {
    font-style: italic;
    position: absolute;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  &.can-reveal:hover {
    box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);

    .front {
      opacity: 0;
    }

    .reverse {
      opacity: 1;
    }
  }
}

.card textarea {
  word-break: normal;
  font-size: 1em;
  resize: none;
  height: 54px;
  width: 100%;
  background: 0 0;
  border: none;
  box-shadow: none;
}

.card + .card {
  margin-top: 1rem;
}

.card.dragging {
  opacity: .8;
}

.column.over {
  background: rgba(0,0,0,.05);
}

[draggable] {
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.card .delete {
  float: right;
  margin: .5rem;
}
