@import "~bulma";


.site-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.fill-height {
  flex: 1;
}

.content {
  overflow-wrap: break-word;
}

.card, .not-card {
  width: 300px;
}

.card.not-revealed {
  opacity: .5;

  &.can-reveal:hover {
    opacity: 1;

    &::after {
      content: 'Reveal';
      color: white;
      background: rgba(0,0,0,.5);
      display: block;
      height: 100%;
      line-height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      text-align: center;
    }
  }
}

.card textarea {
  word-break: normal;
  font-size: 1em;
  resize: none;
  height: 54px;
  width: 100%;
  background: 0 0;
  border: none;
  box-shadow: none;
}

.card + .card {
  margin-top: 1rem;
}

.card.dragging {
  opacity: .8;
}

.column.over {
  background: rgba(0,0,0,.05);
}

[draggable] {
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.card .delete {
  float: right;
  margin: .5rem;
}

.autocomplete-list {
  position: absolute;
  top: 3rem;
  left: 0;
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,.3);
  border-radius: 3px;
  padding: .5rem 1rem;
}
